<menu id="options">
  <menu id="audio" tooltip="adjust properties of this instance's core dsp">
    <textbox id="buffersize" tooltip="adjust the size of the vibrato's delay buffer."/>
    <switch id="interpolation" tooltip="select the method that is used to interplate the delay.">
      <option id="lerp"/>
      <option id="spline"/>
      <option id="lagrange"/>
      <option id="sinc"/>
    </switch>
    <switch id="oversampling" tooltip="turn on oversampling to get lower sidelobes.">
      <option id="1x"/>
      <option id="2x"/>
    </switch>
  </menu>
  <menu id="graphics" tooltip="individualize the appearance of the plugin here.">
    <menu id="colours" tooltip="individualize the colour sheme of the plugin here.">
      <colourselector id="background"/>
      <colourselector id="normal"/>
      <colourselector id="interactable"/>
      <colourselector id="modulation"/>
      <colourselector id="inactive"/>
      <colourselector id="abort"/>
      <colourselector id="hoverBg"/>
      <colourselector id="darken"/>
    </menu>
  </menu>
  <menu id="help" tooltip="get help! literally.">
    <switch id="tooltips" tooltip="turn on/off tooltips here.">
      <option id="disable"/>
      <option id="enable"/>
    </switch>
    <switch id="parameter popup" tooltip="turn on/off parameter popup here.">
      <option id="disable"/>
      <option id="enable"/>
    </switch>
  </menu>
</menu>