<menu id="options">
    <menu id="colours" tooltip="individualize the colour sheme of the plugin here.">
	    <colourselector id="txt"/>
	    <colourselector id="bg"/>
	    <colourselector id="abort"/>
	    <colourselector id="mod"/>
		<colourselector id="bias"/>
	    <colourselector id="interact"/>
	    <colourselector id="inactive"/>
	    <colourselector id="darken"/>
	    <colourselector id="hover"/>
    </menu>
    <menu id="help" tooltip="get help! literally.">
        <switch id="tooltips" tooltip="turn on/off tooltips here.">
          <option id="disable"/>
          <option id="enable"/>
        </switch>
    </menu>
    <menu id="thank you" tooltip="i always wanted to become a VST Developer.">
        <imgStrip id="logos"/>
        <txt id="thanksText" text="I just want to thank everyone! It really means a lot to me. I'm producing my own music since I was a child. I was always fascinated by the creativity used to make all these different kinds of VST effects and instruments. VST is much more than just a technology or a trademark. It is a lifestyle! A lifestyle about experiencing transcendental moments and a lifestyle about sharing these experiences with each other. Needless to say my own music was always heavily influenced by my urge to explore all of these experiences. I want to make people feel just what I felt through my plugins now and I really hope I am able to do that."/>
        <linkstrip id="linkstrip">
            <link id="support me" link="https://www.paypal.com/paypalme/alteoma" tooltip="consider this if you find yourself continuously enjoying the experience."/>
            <link id="discord" link="https://discord.gg/PFnAsvMW5f" tooltip="come to my discord to receive news, or to tell me about bugs or feature requests."/>
        </linkstrip>
    </menu>
</menu>